* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #130125;
  color: white;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.check-cv {
  width: 200px;
  height: 56px;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 2px 0px 0px 0px;
  border: none;
  opacity: 0px;
  background-color: #fd5a14;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.title {
  font-family: 'Courier Prime';
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}

.text {
  font-family: 'Kanit';
  font-size: 20px;
  font-weight: 300;
  line-height: 29.9px;
  text-align: left;
}

.nabar {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.navbar h2 {
  font-family: 'Courier Prime';
  font-size: 32px;
  font-weight: 600;
  line-height: 36.25px;
  text-align: left;
}
